UPDATE users SET version = 0 WHERE version IS NULL; UPDATE grades SET version = 0 WHERE version IS NULL; UPDATE courses SET version = 0 WHERE version IS NULL; UPDATE enrollments SET version = 0 WHERE version IS NULL; UPDATE announcements SET version = 0 WHERE version IS NULL;
